.project-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding-bottom: 6em;
}

.project-card {
  background-color: #00859c;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-card img {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}

.project-title {
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-paragraph {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.project-techStack {
  text-align: center;
  padding-bottom: 1rem;
}

.proejct-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn-project {
  padding: 12px 32px;
  font-size: 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}
.btn-project:hover {
  background-color: #00cdf1;
  color: white;
  transition: 0.3s;
}

.work-container {
  padding-top: 1rem;
}
